/*-------------FULL------------*/
* {
    padding: 0;
    margin: 0;
  }

.global{
    height: 100vh;
    /* height: auto; */
    width: 100%;
    background-color: #7D7E81;
}
/*-------------AREA PRINCIPAL------------*/

  .container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;    
    background-color: rgb(120, 20, 20);
   padding-bottom: 20vh;  
}

/*-------------AREA DOS CARDS------------*/

.cardsArea{
    width: 100%;
    height: 50%;
    align-self:flex-end;
    justify-content: center;
    gap:10%;
    display: flex;
    flex-wrap: wrap; 
    background-color: rgb(63, 63, 63);
}  

/*-------------BOTOES------------*/
.test{
    height: 60px;
    position: fixed;
    bottom: 20px;
    right: 20px; 
    transition: 2s;

}

/* text{
    width: 40%;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
}

text:hover{
    overflow: visible;

} */

span{
  display: inline-block;
  white-space: nowrap;
  vertical-align: top;
  overflow: hidden;
  transition: all .5s;
}
.rightButtons{
    display: flex;
    flex-direction: column;
    width: 10%;
    min-width: 150px;
    height: 30%;
    max-height: 250px;
    position: relative;
    bottom: 30px;
    gap: 13px;
    cursor: pointer;
    font-size: 17px;
    font-weight: 500;
    color: white; 
    align-items: center;
    justify-content: end;
    text-align: center;
    overflow: hidden;


}
.fixedButton1{
    /* position: fixed;
    bottom: 20px;
    right: 20px;  */
    display: flex;
    padding: 2px;
    width: 40%;
    height: 20%;
    gap: 8px;
    align-items: center;
    justify-content: left;
    border-radius: 50px;
    transition: width 0.5s;
    cursor: pointer;
    font-size: small;
    white-space: nowrap; 
    color: #ffff;
    background-color: #000000;

}
text{
  width: 100%;
  overflow: hidden;

}

text:hover{
  color: #ffff;

}

 .fixedButton1:hover{
    width: 100%;
    color: antiquewhite;

} 

.icon{
  margin-left: 7px;
  font-size: 20px;
  overflow: visible;
  display: flex;

}

.icon:hover{
  overflow: hidden; 

}

.fixedButton2{
    /* position: fixed;
    bottom: 90px;
    right: 20px;  */
    padding: 8px;
    width: 40%;
    height: 8%;
    border-radius: 50px;
    background-color: rgb(100, 17, 17);
}

.fixedButton2:hover{
    width: 100%;

}

.fixedButton3{
    /* position: fixed;
    bottom: 160px;
    right: 20px;  */
    padding: 8px;
    width: 40%;
    height: 5%;
    border-radius: 50px;
    background-color: rgb(193, 24, 24);
}

.fixedButton3:hover{
    width: 100%;

}

footer{
    height: 20vh;
    background-color: rgb(111, 255, 0);
}

@import "rsuite/dist/rsuite.css";

#root{ padding: 10px; }

@keyframes zoomIn {
    from {
      opacity: 0;
      transform: scale3d(0.3, 0.3, 0.3);
    }
  
    50% {
      opacity: 1;
    }
  }
  
  @keyframes zoomOut {
    from {
      opacity: 1;
    }
  
    50% {
      opacity: 0;
      transform: scale3d(0.3, 0.3, 0.3);
    }
  
    to {
      opacity: 0;
    }
  }
  
  .custom-exiting,
  .custom-entering {
    animation: .3s linear;
    animation-fill-mode: forwards;
  }
  
  .custom-exiting {
    animation-name: zoomOut;
  }
  
  .custom-entering {
    animation-name: zoomIn;
  }
  
  .custom-entered {
    opacity: 1;
  }
  
  .custom-exited {
    opacity: 0;
  }
  